<div class="fill">
  <h1 class="page-header">{{ ::S.header_new_offer }}</h1>
  <form class="offer-form">
    <div class="myrow">
      <div class="form-group col-sm-6">
        <pl-datepicker placeholder="{{ ::S.form_offer_date }}"
                       ng-model="offer.registration_date"
                       class="form-control">
      </div>
    </div>
    <div class="myrow">
      <div class="form-group col-sm-6">
        <pl-select-customer placeholder="{{ ::S.form_customer }}"
                            ng-model="offer.customer">
        </pl-select-customer>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_foreign_id }}"
               ng-model="offer.foreign_id"
               class="form-control">
      </div>
    </div>
    <div class="myrow">
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_product_type }}"
               ng-model="offer.product_type"
               class="form-control">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_product_size }}"
               ng-model="offer.product_size"
               class="form-control">
      </div>
    </div>
    <div class="myrow">
      <div class="form-group col-sm-12">
        <input type="text" placeholder="{{ ::S.form_product_properties }}"
               ng-model="offer.product_properties"
               class="form-control">
      </div>
    </div>
    <div class="myrow">
      <div class="form-group col-sm-2 col-xs-6" ng-repeat="v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <button style="width:100%;" class="btn btn-default" ng-click="addProperty(v)">{{ v }}</button>
      </div>
    </div>
    <div class="myrow">
      <div class="form-group col-sm-12">
        <textarea placeholder="{{ ::S.form_comment }}"
                  rows="4" ng-model="offer.comment"
                  class="form-control">
        </textarea>
      </div>
    </div>
  </form>
  <div class="myrow">
    <div class="form-group col-sm-12">
      <button class="btn btn-default" ng-click="save()">{{ ::S.button_save }}</button>
      <button class="btn btn-default pull-right" ng-click="cancel()">{{ ::S.button_cancel }}</button>
      <button class="btn btn-default pull-right" ng-click="clear()">{{ ::S.button_clear }}</button>
    </div>
  </div>
</div>