<!doctype html>
<html ng-app="policellApp" ng-controller="I18NController">
<head>
  <title>Policell ajánlatok</title>

  <link rel="stylesheet" href="components/jquery-ui/themes/smoothness/jquery-ui.css" />
  <!-- bower:css -->
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="components/ng-grid/ng-grid.css" />
  <link rel="stylesheet" href="components/angular-ui-select/dist/select.css" />
  <!-- endbower -->
  <!-- bower:js -->
  <script src="components/jquery/dist/jquery.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/angular-route/angular-route.js"></script>
  <script src="components/ng-grid/build/ng-grid.js"></script>
  <script src="components/angular-ui-select/dist/select.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/jquery-ui/jquery-ui.js"></script>
  <script src="components/angular-ui-date/src/date.js"></script>
  <!-- endbower -->
  <script src="components/jquery-ui/ui/i18n/datepicker-hu.js"></script>


  <link rel="stylesheet" href="style.css" />
  <script src="app.js"></script>
  <script src="modules/common/common.js"></script>
  <script src="modules/common/i18n.js"></script>
  <script src="modules/common/I18NController.js"></script>
  <script src="modules/common/locale_hu.js"></script>
  <script src="modules/common/TEMPLATES.js"></script>
  <script src="modules/common/debounce.js"></script>
  <script src="modules/common/TableDirectives.js"></script>
  <script src="modules/common/RouterController.js"></script>
  <script src="modules/common/plDatepicker.js"></script>
  <script src="modules/common/models.js"></script>

  <script src="modules/service/DataService.mock.js"></script>
  <script src="modules/Search/SearchController.js"></script>
  <script src="modules/Header/HeaderController.js"></script>
  <script src="modules/Header/HeaderService.js"></script>
  <script src="modules/Offers/OffersController.js"></script>
  <script src="modules/Offers/NewOfferController.js"></script>
  <script src="modules/Offers/EditOfferController.js"></script>
  <script src="modules/Offers/OfferTableDefinition.js"></script>
  <script src="modules/Offers/SelectCustomerDirective.js"></script>
  <script src="modules/Customers/CustomersController.js"></script>
  <script src="modules/Customers/NewCustomerController.js"></script>
  <script src="modules/Customers/EditCustomerController.js"></script>
</head>
<body>
  <div class="header-bar-fixed" ng-controller="HeaderController">
    <div class="header-bar" ng-controller="HeaderController">
      <a class="header-item" href="" ng-class="{ selected: isPage('offers') }" ng-click="openPage('offers')">{{ ::S.menu_title_offers }}</a>
      <a class="header-item" href="" ng-class="{ selected: isPage('offers/new') }" ng-click="openPage('offers/new')">{{ ::S.menu_title_new_offer }}</a>
      <a class="header-item" href="" ng-class="{ selected: isPage('customers') }" ng-click="openPage('customers')">{{ ::S.menu_title_customers }}</a>
      <a class="header-item" ng-show="models.newCustomer" href="" ng-class="{ selected: isPage('customers/new') }" ng-click="openPage('customers/new')">{{ ::S.menu_title_new_customer }}</a>
      <a class="header-item" ng-show="models.editCustomer" href="" ng-class="{ selected: isPage('customers/edit') }" ng-click="openPage('customers/edit')">{{ ::S.menu_title_edit_customer }}</a>
      <a class="header-item" ng-show="models.editOffer" href="" ng-class="{ selected: isPage('offers/edit') }" ng-click="openPage('offers/edit')">{{ ::S.menu_title_edit_offer }}</a>
    </div>
  </div>

  <div class="contents">
    <div class="tabbed-area" ng-view></div>
  </div>
</body>
</html>