
.main-grid {
  position: absolute;
  border: 1px solid #d4d4d4;
  font-size: 11px;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pagebar {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 34px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.pagebar-right, .pagebar-left {
  position: relative;
  min-height: 1px;
  float: left;
}
.pagebar-right {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}
.pagebar-left {
  padding-right: 10px;
  padding-left: 0;
}
.pagebar-block {
  display: inline-block;
}

.icon-refresh {
  float: right;
  margin: 0 5px;
  width: 22px;
  height: 22px;
  background-image: url('images/refresh.png');
  background-size: 22px 22px;
}

.main-search {
/*  position: absolute;
  top: 0;
  right: 0;*/
  width: 200px;
}

.ui-widget {
  font-size: 12px;
}

.btn, .form-control {
  border-radius: 0;
}
.pagebar .btn, .pagebar .form-control,
.main-grid .btn, .main-grid .form-control,
.offer-form .btn, .offer-form .form-control
{
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  height: 22px;
}

.offer-form textarea.form-control {
  height: auto;
}

.main-date {
  position: relative;
  display: inline-block;
  float: right;
  width: 120px;
}

.ui-select-bootstrap > .ui-select-match > button {
  /* Instead of center because of .btn */
  text-align: left;
}

.ngHeaderText {
  padding: 4px;
}

.ngCellText {
  padding: 4px;
}

.contents {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}


.header-bar-fixed {
  position: fixed;
  z-index: 1010;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #c0c0c0;
}

.header-bar {
  margin: 5px;
  text-align: center;
  font-family:  Arial, Helvetica, sans-serif;
}

.header-bar a {
  text-decoration: none;
  color: black;
}

.header-bar .header-item {
  display: inline-block;
  height: 40px;
  width: 120px;

  line-height: 38px;
  vertical-align: middle;
  font-size: 20px;

  background-color: white;
  color: #c0c0c0;
  border: 1px solid #aaaacc;
  border-radius: 4px;


  box-shadow: 0 0 1px #aaaacc;
  transition: box-shadow ease 0.1s;
}

.header-item:hover {
  color: #555555;
  box-shadow: 0 0 8px #66aaff;
}

.header-item.selected {
  color: black;
  box-shadow: 0 0 5px #5599dd;
  border: 1px solid #8888bb;
}

.tabbed-area {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

html, body, .fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.customer-container {
}

.customer-row {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
}

.customer-modify {
  float: right;
}

.auto-scrollable {
  overflow: auto;
}

.customer-row:hover {
  background-color: #f0f0f8;
}

.customer-row.selected {
  background-color: #e8e8e8;
}
.customer-description {
  font-size: 11px;
}

.myrow {
  margin: 0;
  box-sizing: border-box;
  display: table;
  width: 100%;
}
