
.main-grid {
  position: absolute;
  border: 1px solid rgb(212,212,212);
  font-size: 11px;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-bar {
  position: relative;
}

.main-bar-right, .main-bar-left {
  position: relative;
  min-height: 1px;
  float: left;
}
.main-bar-right {
  width: 33.3333%;
  padding-right: 0;
  padding-left: 10px;
}
.main-bar-left {
  width: 66.6666%;
  padding-right: 10px;
  padding-left: 0;
}
.main-bar-refresh, .main-bar-refresh > img {
  width: 16px;
  height: 16px;
}
.main-bar-refresh {
  float: right;
  margin-right: 15px;
}

.main-search {
/*  position: absolute;
  top: 0;
  right: 0;
  width: 400px;*/
}

.main-date {
  position: relative;
  display: inline-block;
  float: right;
  width: 120px;
}

.ui-widget {
  font-size: 12px;
}
.btn, .form-control {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

.form-control {
  height: 22px;
}

.ui-select-bootstrap > .ui-select-match > button {
  /* Instead of center because of .btn */
  text-align: left;
}

.ngHeaderText {
  padding: 4px;
}

.ngCellText {
  padding: 4px;
}

.contents {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  text-align: center;

  font-family:  Arial, Helvetica, sans-serif;
}

.header-bar a {
  text-decoration: none;
  color: black;
}

.header-bar .header-item {
  display: inline-block;
  height: 50px;
  width: 120px;

  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;

  color: #aaaaaa;
  border: 1px solid #aaaacc;
  border-radius: 4px;

  box-shadow: 0 0 1px #aaaacc;
}

.header-item:hover {
  color: #555555;
  box-shadow: 0 0 8px #66aaff;
}

.header-item.selected {
  color: black;
  box-shadow: 0 0 5px #5599dd;
  border: 1px solid #8888bb;
}

.tabbed-area {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
}

html, body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
