<div class="fill">
  <div class="pagebar">
    <div class="pagebar-left" role="search">
      <div class="pagebar-block form-group">
        <input placeholder="{{ ::S.label_nav_search }}" class="form-control" ng-change="notifySearch()" ng-model="search.value">
      </div>
      <button class="btn btn-default" ng-click="refresh()">{{ ::S.button_refresh }}</button>
      <span class="icon-refresh" ng-show="loading"></span>
    </div>
    <div class="pagebar-right">
      <button class="btn btn-default" ng-click="newCustomer()">{{ ::S.button_new_customer }}</button>
    </div>
  </div>
  <div class="customer-container">
    <div ng-repeat="customer in customers">
      <div class="customer-row">
        <div>
          <strong>{{ customer.name }}</strong> &mdash; {{ customer.register_date | date:S.time_lf }}
          <a href="" ng-click="editCustomer(customer)" class="customer-modify">{{ ::S.button_modify_customer }}</a>
        </div>
        <div class="customer-description">{{ customer.comment }}</div>
      </div>
    </div>
  </div>
</div>