<div class="fill">
  <h1 class="page-header">{{ ::S.header_new_customer }}</h1>
  <div class="form-group">
    <input placeholder="{{ ::S.label_customer_name }}" class="form-control" ng-model="customer.name">
  </div>
  <div class="form-group">
    <textarea placeholder="{{ ::S.label_customer_comment }}" class="form-control" rows="5" ng-model="customer.comment"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="saveCustomer()">{{ ::S.button_save_customer }}</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">{{ ::S.button_cancel }}</button>
  </div>
</div>